<% layout('/layout/boilerplate') -%>

<div id='map'></div>
<script  src="/js/indexMap.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwi9wamH52mN2vCSIFgA-MEuOBE-qjzSA&callback=initMap"></script>